h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 7%;
  font-style: italic;
  letter-spacing: -5px;
}

table {
  width: 420px;
  height: 430px;
  margin: 2% auto;
  text-align: center;
  margin-top: 4%;
  padding-right: 40px;
}

table tr td {
  font-weight: bold;
}

table input {
  width: 265px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #323232;
  padding-left: 15px;
}

#contactText {
  width: 250px;
  border-radius: 25px;
  border: 1px solid #323232;
  padding-left: 15px;
  padding-right: 15px;
}

#contactText:focus {
  border-radius: 1px solid #323232;
}

.btn {
  text-align: center;
}

.btn button {
  color: #969696;
  cursor: default;
  transition: 0.5s;
}

/* thank */
.container {
  text-align: center;
  margin-top: 10%;
}

.container h2 {
  font-size: 50px;
  margin-bottom: 3%;
}

.container h3 {
  font-size: 25px;
}

img {
  border-radius: 50%;
  border: 3px solid #323232;
  margin: 0 auto;
  display: block;
  margin-top: -7%;
  margin-bottom: 3%;
  /* width: 55%; */
}
