h1 {
  font-size: 100px;
  /* background-color: yellowgreen; */
  text-align: center;
  padding-top: 7%;
  font-style: italic;
  letter-spacing: -5px;
}

table {
  width: 420px;
  height: 430px;
  /* background-color: bisque; */
  margin: 2% auto;
  text-align: center;
  margin-top: 4%;
  padding-right: 40px;
}

table tr td {
  font-weight: bold;
}

table input {
  width: 265px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #323232;
  padding-left: 15px;
}

#contactText {
  width: 250px;
  border-radius: 25px;
  border: 1px solid #323232;
  /* height: 200px; */
  padding-left: 15px;
  padding-right: 15px;
  /* margin-top: -15px; */
  /* text-align: center; */
  /* background-color: yellowgreen; */
}

#contactText:focus {
  border-radius: 1px solid #323232;
}

.btn {
  width: 170px;
  margin: 0 auto;
  /* background-color: yellowgreen; */
}

/* thank */
.container {
  /* background-color: yellowgreen; */
  text-align: center;
  margin-top: 10%;
}

.container h2 {
  font-size: 50px;
  margin-bottom: 3%;
}

.container h3 {
  font-size: 25px;
}
